[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "xchainpy2_base"
version = "0.0.3"
authors = [
    { name = "Tirinox", email = "developer@tirinox.ru" },
]
description = "XChainPy2 Base Client"
readme = "README.md"
requires-python = ">=3.7"
keywords = ["Crypto", "Base", "EVM", "Blockchain", "XChain"]
license = { text = "MIT" }
urls = { source = "https://github.com/tirinox/xchainpy" }
classifiers = [
    'Development Status :: 3 - Alpha',
    # Chose either "3 - Alpha", "4 - Beta" or "5 - Production/Stable" as the current state of your package
    'Intended Audience :: Developers', # Define that your audience are developers
    'Topic :: Software Development :: Build Tools',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
]
dependencies = [
    "xchainpy2_utils>=0.0.25",
    "xchainpy2_crypto>=0.0.8",
    "xchainpy2_client>=0.0.20",
    "xchainpy2_ethereum>=0.0.19",
]
[project.optional-dependencies]
test = ["pytest"]

[tool.setuptools]
packages = ["xchainpy2_base"]