# Development requirements
aiohttp>=3.10.2
pytest~=8.3.4
pydantic>=2.4.2
PyYAML~=6.0.0
pytest-aiohttp
build
twine
aioresponses==0.7.6
requests-mock==1.11.0
myst-parser
aiofiles>=0.7.0
tox
setuptools

sphinx
sphinx_rtd_theme
sphinx-copybutton
pydantic
myst_parser
