# coding: utf-8

"""
    Thornode API

    Thornode REST API.  # noqa: E501

    OpenAPI spec version: 3.14.1
    Contact: devs@thorchain.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from xchainpy2_thornode.api_client import ApiClient


class SwapApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def swap_details(self, tx_id, **kwargs):  # noqa: E501
        """swap_details  # noqa: E501

        Returns detailed information about a specific swap including its state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.swap_details(tx_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tx_id: Transaction ID of the swap (required)
        :param int height: optional block height, defaults to current tip
        :return: SwapDetailsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.swap_details_with_http_info(tx_id, **kwargs)  # noqa: E501
        else:
            (data) = self.swap_details_with_http_info(tx_id, **kwargs)  # noqa: E501
            return data

    def swap_details_with_http_info(self, tx_id, **kwargs):  # noqa: E501
        """swap_details  # noqa: E501

        Returns detailed information about a specific swap including its state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.swap_details_with_http_info(tx_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tx_id: Transaction ID of the swap (required)
        :param int height: optional block height, defaults to current tip
        :return: SwapDetailsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tx_id', 'height']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method swap_details" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tx_id' is set
        if ('tx_id' not in params or
                params['tx_id'] is None):
            raise ValueError("Missing the required parameter `tx_id` when calling `swap_details`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tx_id' in params:
            path_params['tx_id'] = params['tx_id']  # noqa: E501

        query_params = []
        if 'height' in params:
            query_params.append(('height', params['height']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/thorchain/queue/swap/details/{tx_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SwapDetailsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
