[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "xchainpy2_thorchain_query"
version = "0.0.27"
authors = [
    { name = "Tirinox", email = "developer@tirinox.ru" },
]
description = "XChainPy2 THORChain Query: this package is used to query THORChain for estimation of swaps/add and remove Liquidity and checking a transaction stage."
readme = "README.md"
requires-python = ">=3.7"
keywords = ["Crypto", "THORChain", "THORNode", "Midgard", "Swagger", "API"]
license = { text = "MIT" }
urls = { source = "https://github.com/tirinox/xchainpy" }
classifiers = [
    'Development Status :: 3 - Alpha',
    # Chose either "3 - Alpha", "4 - Beta" or "5 - Production/Stable" as the current state of your package
    'Intended Audience :: Developers', # Define that your audience are developers
    'Topic :: Software Development :: Build Tools',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
]
dependencies = [
    'aiohttp',
    'aiohttp-retry>=2.3.0',
    'xchainpy2_utils',
    'xchainpy2_crypto',
    'xchainpy2_midgard',
    'xchainpy2_thornode',
    # Later, in mayachain_query
    'xchainpy2_mayanode'
]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-cov>=2.5.1",
    "randomize>=0.13",
]

[tool.setuptools]
packages = ["xchainpy2_thorchain_query"]
